<label for="body">Comment body</label>
<textarea id="body" name="link[comments_attributes][0][body]"></textarea>
<input type="hidden" name="link[comments_attributes][0][user_id]"
value="<%= current_user.id %>">
